<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>
<body>
<h2>User info</h2>
<br>
<form th:method="post" th:action="@{/admin}" th:object="${user}">

  <label for="name">Name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Name error</div>
  <br><br>
  <label for="surname">Surname: </label>
  <input type="text" th:field="*{surname}" id="surname"/>
  <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"> Surname error</div>
  <br><br>
  <label for="age">Age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"> Age error</div>
  <br><br>
  <label for="username">Username: </label>
  <input type="text" th:field="*{username}" id="username"/>
      <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> Name error</div>
  <br><br>
  <label for="password">Password: </label>
  <input type="text" th:field="*{password}" id="password"/>
      <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Password error</div>
  <br><br>
  <label for="roles"><b>Role:</b></label>
  <select th:field="*{roles}"  id="roles">
    <option value="0">select role</option>
    <option th:each="role: ${roles}" th:value="${role}" th:text="${role}">
    </option>
  </select>
  <br><br>
  <input type="hidden" th:field="*{id}"/>
  <input type="submit" value="OK"/>
</form>

</body>
</html>